// 定义变量
$main-bgColor:#333;
$main-boxColor: #252525;
$main-fFamily: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;
// 公共样式
body {
  padding: 0;
  margin: 0;
  background: #eee;
}

a {
  text-decoration: none;
}

// nav
nav {
  width: 100%;
  height: 50px;
  background: $main-bgColor;
  overflow: hidden;
  .nav__content {
    height: 100%;
    margin: 0 50px;
    .nav__content--logo {
      float: left;
      a {
        font-family: $main-fFamily;
        font-size: 14px;
        color: #e8e8e8;
        line-height: 50px;
        &:hover {
          color: #fff;
        }
      }
      .nav__ment--right {
        float: right;
        display: none;
        width: 40px;
        height: 30px;
        border:1px solid #fff;
        border-radius: 4px;
        margin-top: 10px;
        background: #ddd;
        .menu-icon{  
          display: block;
          width: 22px;
          height: 2px;
          background-color: #888;
          margin-top: 6px;
          margin-left: 9px;
          border-radius: 4px;
      }
      }
    }
    .nav__content--menu {
      float: right;
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          display: block;
          float: left;
          line-height: 50px;
          a {
            font-family: $main-fFamily;
            font-size: 14px;
            color: #e8e8e8;
            
          padding: 0 20px;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.main {
  // width: 1226px;
  width: 100%;
  margin: 20px auto 0;
  overflow: hidden;
  ul {
    margin: 0;
    padding: 0;
    li.main__content {
      list-style: none;
      display: block;
      float: left;
      width: 234px;
      height: 300px;
      background: #fff;
      position: relative;
      overflow: hidden;
      margin: 10px 5.6px;
      transition: all .2s linear;
      &:hover .review-wrapper {
        bottom: 0;
      }
      &:hover {
        margin: -2px 5.6px;
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=14, Direction=0, Color=#000000)";
        /*IE 8*/
        -moz-box-shadow: 0 0 14px -1px rgba(0, 0, 0, 0.3);
        /*FF 3.5+*/
        -webkit-box-shadow: 0 0 14px -1px rgba(0, 0, 0, 0.3);
        /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
        box-shadow: 0 0 14px -1px rgba(0, 0, 0, 0.3);
        /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=14, Direction=135, Color=#000000);
        /*IE 5.5-7*/
      }
      .main-flag {
        position: absolute;
        background: #83c44e;
        top: 0;
        left: 50%;
        width: 64px;
        height: 20px;
        margin-left: -32px;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #fff;
      }
      .main-img {
        width: 150px;
        height: 150px;
        margin: 28px auto 18px;
        img {
          width: 150px;
          height: 150px;
        }
      }
      h3.title {
        color: #333;
        text-overflow: ellipsis;
        font-size: 14px;
        text-align: center;
        margin: 0;
        padding: 0;
      }
      p.desc {
        margin: 0 10px 10px;
        height: 18px;
        font-size: 12px;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #b0b0b0;
      }
      p.price {
        margin: 0 10px 10px;
        text-align: center;
        color: #ff6700;
      }
      .review-wrapper {
        position: absolute;
        bottom: -70px;
        left: 0;
        width: 234px;
        height: 70px;
        overflow: hidden;
        font-size: 12px;
        background: #ff6700; //opacity: 0;
        //filter: alpha(opacity=0)\9;
        transition: all .2s linear;
        a {
          display: block;
          padding: 8px 30px;
          outline: 0;
          span.review {
            margin-bottom: 5px;
            color: #fff;
            text-overflow: ellipsis;
            display: block;
          }
          span.author {
            color: rgba(255, 255, 255, 0.6);
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}

//媒体查询
@media only screen and (max-width: 768px) {
  nav {
    height: 100%;
    .nav__content{
      margin: 0 10px;   
      .nav__content--logo {
        width: 100%;
        .nav__ment--right {
          display: block;
        }
      }
      .nav__content--menu {
        width: 100%;
        display: none;
        ul {
          li {
            width: 100%;
            height: 50px;
            &:hover {
              background: #5C5C5C;
            }
          }
        }
      } 
    }
  }
}
