
body {
  width: 100vw;
  height: 100vh;
  font-family: "lato", sans-serif;
  color: #E8AFE1;
  background: #ad1283; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ad1283 0%, #8f45d8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ad1283 0%,#8f45d8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ad1283 0%,#8f45d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad1283', endColorstr='#8f45d8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.main {
  width: 300px;
  height: 46px;
  margin: 100px 0 0 100px;
  position: relative;
}

.magnifier {
  cursor: pointer;
  width: 46px;
  height: 46px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.line {
  cursor: pointer;
  width: 300px;
  height: 46px;
  position: absolute;
  left: 0;
  top: 0;
}
.magnifier-l-c,
 .line-line,
 .main input {
  /* 避免引起回流 */
  visibility: hidden;
}
.main input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: #eaeaea;
  padding: 0 0 0 40px;
  z-index: 1;
  position: relative;
  font-size: 16px;
}
.main input::-webkit-input-placeholder{
  color: #fff;
}

.magnifier.open .magnifier-c {
  transform: scale(0.72)
}
.magnifier.open .magnifier-l {
  display: none;
}
.magnifier.open .magnifier-l-c, 
.main.open .line-line,
.main.open input {
  /* 避免引起回流 */
  visibility: visible;
}