body{
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background: #fff;
}
.button{
    position: relative;
    appearance: none;
    background: #f72359;
    padding: 1em 2em;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;
}
.button span{
    position: relative;
    pointer-events: none;
}
.button::before{
    --size : 0;

    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #4405f7, transparent);
    transform: translate(-50%, -50%);
    transition: width .2s ease, hegiht .2s ease;
}
.button:hover::before{
    --size: 400px;
}